<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Pachimonゲーム</title>
</head>

<body>
  <h1>バトル</h1>
  <p>[[${login_user}]]さん ログイン中</p>
  <h2>[[${login_users[0]}]] VS [[${login_users[1]}]]</h2>
  <div th:if="${result2 == null}">
    <a href="/pachimon/honou">ほのお</a>
    <a href="/pachimon/mizu">みず</a>
    <a href="/pachimon/kusa">くさ</a>
  </div>
  <div th:if="${hand}">
    <a>あなたの手は[[${hand}]]です</a>
    <div>
      <th:block th:if="${handsNum==2}">
        <a href="/pachimon/result">結果</a>
        <div th:if="${result2}">
          <a>あなたの結果は[[${result2}]]です</a>
          <div>
      </th:block>
</body>

</html>
