<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Pachimonゲーム</title>
</head>

<body>
  <h1>バトル</h1>
  <h3>ログイン中<div sec:authentication="name"></div></h3>
  <div th:if="${login_user == login_users[0]}">
    <h2>[[${login_users[0]}]] VS [[${login_users[1]}]]</h2>
  </div>
  <div th:if="${login_user == login_users[1]}">
    <h2>[[${login_users[1]}]] VS [[${login_users[0]}]]</h2>
  </div>
  <div th:if="${hand == null}">
    <a href="/pachimon/honou">ほのお</a>
    <a href="/pachimon/mizu">みず</a>
    <a href="/pachimon/kusa">くさ</a>
  </div>
  <div th:if="${hand}">
    <a>あなたの手は[[${hand}]]です</a>
    <th:block th:if="${count==1}">
      <p>相手の手を待っています</p>
    </th:block>
    <th:block th:if="${count==2}">
      <p><a href="/pachimon/result">結果</a></p>
      <div th:if="${result2}">
        <a>あなたの結果は[[${result2}]]です</a>
      </div>
    </th:block>
  </div>
</body>

</html>
