<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Pachimonゲーム</title>
</head>

<body>
  <h3>ユーザ名：<div sec:authentication="name"></div>
  </h3>
  <h3>ロール名：<div sec:authentication="principal.authorities"></div>
  </h3>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <span>あなたは管理者ですね</span>
  </div>
  <div sec:authorize="hasRole('ROLE_USER')">
    <div>あなたはユーザですね</div>
  </div>
  <a href="/logout">ログアウト</a>
  <a href="/pachimon/step8">入室(DI)</a>
  <div th:if="${room}">
    DI利用
    <ul>
      <!--roomオブジェクトのroomNoというフィールドを指定している-->
      <li>RoomNo:[[${room.roomNo}]]</li>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
      <li th:each="user : ${room.users}">[[${user}]]</li>
      <li>現在ログイン人数:[[${usersNum}]]</li>
    </ul>
    <th:block th:if="${usersNum==2}">
      <a href="/pachimon/step9">ゲーム開始！</a>
    </th:block>
  </div>
</body>

</html>
