<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Pachimonゲーム</title>
</head>

<body>
  <h3>ユーザ名：<div sec:authentication="name"></div>
  </h3>
  <a href="/logout">ログアウト</a>
  <a href="/pachimon/step8">入室(DI)</a>
  <div th:if="${room}">
    DI利用
    <ul>
      <!--roomオブジェクトのroomNoというフィールドを指定している-->
      <li>RoomNo:[[${room.roomNo}]]</li>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
</body>

</html>
