<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="3 URL=">
  <title>Pachimonゲーム</title>
</head>

<body>
  <h3>ユーザ名：<div sec:authentication="name"></div>
  </h3>
  <h3>ロール名：<div sec:authentication="principal.authorities"></div>
  </h3>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <span>あなたは管理者ですね</span>
    <p><a href="/pachimon/startAdmin">管理者用テストリンク</a></p>
  </div>
  <div sec:authorize="hasRole('ROLE_USER')">
    <div>あなたはユーザですね</div>
  </div>
  <a href="/pachimon/UserNum">マッチング</a>
  <div th:if="${room}">
    <ul>
      <li>現在ログイン人数:[[${usersNum}]]</li>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
    <th:block th:if="${usersNum==2}">
      <p><a>対戦相手が見つかりました</a></p>
      <a href="/pachimon/start">ゲーム開始！</a>
    </th:block>
  </div>
  <p><a href="/pachimon/logout2">ログアウト</a></p>
</body>

</html>
